/* Reset de márgenes y paddings */  
* {  
    margin: 0;  
    padding: 0;  
    box-sizing: border-box;  
}  

/*  body */  
body {  
    font-family: 'Arial', sans-serif;  
    background-color: #f7f9fc;  
    color: #333;  
    display: flex;  
    flex-direction: column;  
    align-items: center;  
    justify-content: center;  
    min-height: 100vh;  
}  

/* header */  
header {  
    background-color: #4CAF50; 
    color: white;  
    padding: 20px;  
    text-align: center;  
    border-radius: 8px;  
    margin-bottom: 20px;  
}  

/* cuerpo principal */  
main {  
    width: 100%;  
    max-width: 600px;  
}  

/* la tarjeta de resultados */  
.card {  
    background: white;  
    border-radius: 8px;  
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);  
    padding: 20px;  
    margin: auto;  
    text-align: center;  
}  

/* botones */  
button {  
    background-color: #4CAF50;  
    border: none;  
    color: white;  
    padding: 10px 20px;  
    text-align: center;  
    text-decoration: none;  
    display: inline-block;  
    font-size: 16px;  
    margin: 10px 0; 
    cursor: pointer;  
    border-radius: 4px;  
    transition: background-color 0.3s;
}  

button:hover {  
    background-color: #45a049;   
}  

/*  inputs */  
input[type="number"] {  
    width: calc(100% - 26px);   
    padding: 10px;  
    margin: 10px 0;  
    border: 2px solid #ddd;  
    border-radius: 4px;  
    font-size: 16px;  
}  

input[type="number"]:focus {  
    border-color: #4CAF50;   
    outline: none; 
}  

@media (max-width: 600px) {  
    header, .card {  
        width: 90%;  
    }  
}  